apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi 
  storageClassName: standard-rwo

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
spec:
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - image: dio/k8s-dio-database:latest
        name: mysql
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "Pswrd123"
        - name: MYSQL_DATABASE
          value: "myDb"
        ports:
        - containerPort: 3306
        volumeMounts:
        - name: mysql-database
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-database
        persistentVolumeClaim:
          claimName: mysql-database

---
apiVersion: apps/v1
kind: Deployment
Metadata:
  name: php-backend-deployment
  labels:
    app: php-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: php-backend
  template:
    metadata:
      labels:
        app: php-backend
    spec:
      containers:
      - name: php-backend
        image: dio/k8s-dio-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80